.imageSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.testimonial-cards {
  max-width: 95%;
  margin: 50px auto;
  display: flex;
  overflow: hidden;
}
.testimonial-card {
  margin: 0 20px;
}
.testimonials-title {
  color: hsl(228, 39%, 23%);
  font-size: 2.5rem;
}
.card-testimonial-text {
  display: flex;
  justify-content: center;
}
.card-testimonial-text p {
  max-width: 600px;
}
.card-image img {
  width: 90px;
  object-fit: contain;
}
.card-testimonial-user {
  margin: 5px;
  font-size: 1.2rem;
  color: hsl(228, 39%, 23%);
}
